body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	width: 70%;
	margin: 1em auto;
	color: rgb(255, 255, 255);
	background-color: black;
}

a {
	color: rgb(87, 160, 255);
	text-decoration: none;
}
a:hover {
	color: #ff0000;
}
header {
	background-color: rgb(50, 50, 50);
	text-align: center;
}

header > h1 {
	font-size: 3em;
	margin: 0;
}

nav {
	margin-top: 1em;
	background-color: rgb(50, 50, 50);
	display: flex;
	padding: 1em;
}

nav ul {
	display: flex;
	flex: 1;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}

nav li {
	list-style-type: none;
}

nav a {
	font-size: 1em;
	text-transform: uppercase;
}

nav > form > input[type='text'] {
	width: 20em;
}

main {
	margin-top: 1em;
	display: flex;
}
article {
	padding: 1em;
	flex: 2;
	background-color: rgb(50, 50, 50);
	margin-right: 1em;
}

aside {
	padding: 1em;
	flex: 1;
	background-color: rgb(50, 50, 50);
}

footer {
	margin-top: 1em;
	padding: 1em;
	background-color: rgb(50, 50, 50);
}
